<div class="container-fluid">
    <div class="row no-gutters">
        <div class="visualization-heading col-12">
            <div class="heading-info">
                <h2 class="heading-title">Overview</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="visualizations-section">
                <div class="orders-visualization">
                    <div class="row no-gutters">
                        <div class="visualization-heading col-12">
                            <div class="heading-info row">
                                <div class="col-10">
                                    <h4 class="heading-title">Monthwise Billing</h4>
                                </div>
                                <div class="col-2">
                                    <button class="btn-primary btn btn-block btn-sm" (click)="gotoReportDetails('/home/reports', 'billing')" title="View Monthly Billing Reports"  style="float: right">&#9432;</button>
                                </div>
                            </div>
                            <div class="heading-actions">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="visualization-chart" >
                                <canvas baseChart [chartType]="'line'" [legend]="true"[datasets]="invChartData" [labels]="yearChartLabels" [options]="chartOptions"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="visualizations-section">
                <div class="orders-visualization">
                    <div class="row no-gutters">
                        <div class="visualization-heading col-12">
                            <div class="heading-info row">
                                <div class="col-10">
                                    <h4 class="heading-title">Monthwise collection</h4>
                                </div>
                                <div class="col-2">
                                    <button class="btn-primary btn btn-block btn-sm" (click)="gotoReportDetails('/home/reports', 'sales')" title="View Monthly Billing Reports" style="float: right">&#9432;</button>
                                </div>
                            </div>
                            <div class="heading-actions">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="visualization-chart" >
                                <canvas baseChart [chartType]="'line'" [legend]="true"[datasets]="rvcChartData" [labels]="yearChartLabels" [options]="chartOptions"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="visualizations-section">
                <div class="orders-visualization">
                    <div class="row no-gutters">
                        <div class="visualization-heading col-12">
                            <div class="heading-info row">
                                <div class="col-10">
                                    <h4 class="heading-title">Agreements due for renewal</h4>
                                </div>
                                <div class="col-2">
                                    <button class="btn-primary btn btn-block btn-sm" (click)="gotoReportDetails('/home/reports', 'agreements')" title="View Near Expiry Agreements Report"  style="float: right">&#9432;</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="visualization-chart" >
                                <canvas baseChart [chartType]="'bar'" [legend]="true"[datasets]="agrChartData" [labels]="yearChartLabels" [options]="chartOptions"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="visualizations-section">
                <div class="orders-visualization">
                    <div class="row no-gutters">
                        <div class="visualization-heading col-12">
                            <div class="heading-info row">
                                <div class="col-10">
                                    <h4 class="heading-title">Member Breakdown</h4>
                                </div>
                                <div class="col-2">
                                    <!--<button class="btn-primary btn btn-block btn-sm" (click)="gotoReportDetails('/home/reports', 'members')" title="View Membership Breakdown Report"  style="float: right">&#9432;</button>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="visualization-chart" >
                                <canvas baseChart [chartType]="'pie'" [legend]="true"[datasets]="memChartData" [labels]="membChartLabels" [options]="chartOptions"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <h6 class="heading-title">How to use the IFAResort Portal?</h6>
        <mat-tab-group>
            <mat-tab label="Introduction">
                <div class="video">
                    <video controls #videoPlayer style="width: 100%;">
                        <source src="{{ introVidSrc }}" type="video/mp4" />
                        Browser not supported
                    </video>
                </div>
            </mat-tab>            
            <mat-tab label="Authentication">
                <div class="video">
                    <video controls #videoPlayer style="width: 100%;">
                        <source src="{{ authVidSrc }}" type="video/mp4" />
                        Browser not supported
                    </video>
                </div>
            </mat-tab>            
            <mat-tab label="Dashboard & Reports">
                <div class="video">
                    <video controls #videoPlayer style="width: 100%;">
                        <source src="{{ dashVidSrc }}" type="video/mp4" />
                        Browser not supported
                    </video>
                </div>
            </mat-tab>            
            <mat-tab label="Members">
                <div class="video">
                    <video controls #videoPlayer style="width: 100%;">
                        <source src="{{ membVidSrc }}" type="video/mp4" />
                        Browser not supported
                    </video>
                </div>
            </mat-tab>            
            <mat-tab label="Membership Agreements">
                <div class="video">
                    <video controls #videoPlayer style="width: 100%;">
                        <source src="{{ agrVidSrc }}" type="video/mp4" />
                        Browser not supported
                    </video>
                </div>
            </mat-tab>            
            <mat-tab label="Billing & Invoices">
                <div class="video">
                    <video controls #videoPlayer style="width: 100%;">
                        <source src="{{ invVidSrc }}" type="video/mp4" />
                        Browser not supported
                    </video>
                </div>
            </mat-tab>            
            <mat-tab label="Payments & Receipts">
                <div class="video">
                    <video controls #videoPlayer style="width: 100%;">
                        <source src="{{ rvcVidSrc }}" type="video/mp4" />
                        Browser not supported
                    </video>
                </div>
            </mat-tab>            
            <mat-tab label="Services">
                <div class="video">
                    <video controls #videoPlayer style="width: 100%;">
                        <source src="{{ srvVidSrc }}" type="video/mp4" />
                        Browser not supported
                    </video>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>