.full-width {
    width: 100%;
    height: 40%;
  }
  
  /* Structure */
  table {
  width: 100%;
  }
  
  .mat-form-field {
  font-size: 14px;
  width: 100%;
  }
  
  
  .highlight{
  background: lightgray;
  }
  
  tr:focus{
  outline: none;
  }
  
  .container {
  color: darkblue; 
  background:rgb(251, 252, 249);
  }