<div class="container-fluid">
    <div class="col-12">
        <div class="row"> 
            <div class="col-4">                
                <mat-card-title>Agreements</mat-card-title>  
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col">
                        <button class="btn-primary btn btn-block" (click)="newForm()" title="New Agreement">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                    <div class="col">
                        <button class="btn-warning btn text-white btn-block" (click)="goToInvoice()" title="View Invoice">
                            <mat-icon>arrow_circle_right</mat-icon>  
                        </button>
                    </div>
                    <div class="col">
                        <button class="btn-success btn btn-block" (click)="onFormSubmit()" title="Submit Agreement">
                            <mat-icon>note_add</mat-icon>  
                        </button>
                    </div>
                    <div class="col">
                        <button class="btn-info btn btn-block" (click)="renewAgreement()" title="Renew this Agreement">
                            <mat-icon>autorenew</mat-icon>  
                        </button>
                    </div>
                    <div class="col">
                        <button class="btn-success btn btn-block" (click)="convertToInvoice()" title="Convert to Invoice">
                            <mat-icon>description</mat-icon>  
                        </button>
                    </div>
                    <div class="col">
                        <button class="btn-danger btn btn-block" (click)="refreshForm()" title="Refresh this form">
                            <mat-icon>cancel</mat-icon> 
                        </button>
                    </div>
                    <div class="col">
                        <button class="btn-dark btn text-white  btn-block" [routerLink]="['/crm/agreements']" title="Return to Agreement List">
                            <mat-icon>arrow_back</mat-icon> 
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <hr> 
        <form [formGroup]="salesOrderForm" class="form-container">
            <div class="col-12"> 
                <div class="form-row">
                    <div class="col-9">
                        <div class="row">
                            <div class="col-4">
                                <mat-form-field class="full-width">
                                    <mat-label i18n="@@CMMContactsNameFormControl">Agreement Number</mat-label>
                                    <input matInput 
                                    #sono formControlName="voucherNo" title="Press fn + F2 to open Agreement search"
                                    (keydown.f2)="lookupSalesorder(sono.value)"
                                    (keydown.enter)="getSalesorder(sono.value)" >
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="full-width">
                                    <mat-label i18n="@@CMMContactsNameFormControl">Invoice Number</mat-label>
                                    <input matInput formControlName="invNbr" readonly>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="full-width"> 
                                    <mat-label i18n="@@CMMContactsMobileFormControl">Agreement Date</mat-label>
                                    <input type="text" formControlName="voucherDate" matInput>
                                    <mat-error i18n="@@CMMContactsMobileFormControlError">Agreement Date <strong>required</strong></mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <mat-form-field class="full-width"> 
                                    <mat-label i18n="@@CMMContactsMobileFormControl">Subject </mat-label>
                                    <input type="text" formControlName="subject" matInput>
                                    <mat-error i18n="@@CMMContactsMobileFormControlError">Subject <strong>required</strong></mat-error>
                                </mat-form-field>
                            </div> 
                            <div class="col-4">
                                <mat-form-field class="full-width"> 
                                    <mat-label i18n="@@CMMContactsMobileFormControl">Status</mat-label>
                                    <mat-select formControlName="status" readonly>
                                        <mat-option value="A"> Active </mat-option>
                                        <mat-option value="I"> Inactive </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <!--<div class="row">
                            <div class="col-4">
                                <mat-form-field class="full-width">
                                    <mat-label i18n="@@CMMContactsNameFormControl">Start Date</mat-label>
                                    <input matInput [matDatepicker]="fromPicker" formControlName="startdate">
                                    <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                                    <mat-datepicker #fromPicker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="full-width">
                                    <mat-label i18n="@@CMMContactsNameFormControl">End Date</mat-label>
                                    <input matInput [matDatepicker]="toPicker" formControlName="enddate">
                                    <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                                    <mat-datepicker #toPicker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="full-width"> 
                                    <mat-label i18n="@@CMMContactsMobileFormControl">Status</mat-label>
                                    <mat-select formControlName="status" readonly>
                                        <mat-option value="A"> Active </mat-option>
                                        <mat-option value="I"> Inactive </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div> -->
                        <div class="row">
                            <div class="col-12">
                                <mat-form-field class="full-width"> 
                                    <mat-label i18n="@@CMMContactsMobileFormControl">Remarks </mat-label>
                                    <input type="text" formControlName="remarks" matInput>
                                </mat-form-field>
                            </div>
                        </div> 
                    </div>
                    <div class="col-3">
                        <div class="col-12">
                            <mat-form-field class="full-width"> 
                                <mat-label i18n="@@CMMContactsMobileFormControl">Primary Member</mat-label>
                                <input matInput type="text" #contactPerson formControlName="customerCode" title="Press fn + F2 to open Contact search"
                                (keydown.f2)="lookUpParty(contactPerson.value)">
                                <mat-error i18n="@@CMMContactsMobileFormControlError">Primary Member <strong>required</strong></mat-error>
                            </mat-form-field>
                        </div>
                        <p><strong>{{ mPartyName }}</strong> <br> {{ mPartyAdd1 }} <br> {{ mPartyPhone }} / {{ mPartyTelephone}} <br> {{ mPartyEmail }}</p>
                    </div>  
                </div>
            </div>
            <div class="col-12">
                <div class="form-row">
                    <div class="col-12" style="height: 50vh; overflow-y: auto;" >
                        <table class="table table-borderless table-hover table-responsive-xxl" formArrayName="srvItemArr">
                                <thead>
                                    <tr class="table-reflow" style="background-color: rgb(2, 46, 82); color: white;">
                                        <th style="width: 10%;">Member No</th>
                                        <th style="width: 15%;">Name</th>
                                        <th style="width: 10%;">From</th>
                                        <th style="width: 10%;">To</th>           
                                        <th style="width: 10%;">Service Value</th>
                                        <th style="width: 10%;">Discount</th>
                                        <th style="width: 10%;">Net Amount</th>
                                        <th style="width: 10%;">VAT</th>
                                        <th style="width: 10%;">Gross</th>
                                        <th style="width: 5%;"></th>
                                    </tr>
                                </thead>
                                <tbody (keydown.alt.n)="addServiceItem()">
                                    <tr #rptItem *ngFor="let rp of srvItem?.controls; let i = index;" [formGroupName]="i" (keydown.alt.x)="deleteServiceItem(i)">           
                                        <td>
                                            <input #membCode class="form-control form-control-sm" type="text" formControlName="srvMember" title="Press fn + F2 to open Member search" (keydown.f2)="lookUpMembers(membCode.value,i)" (keydown.enter)="getMemberdata(membCode.value,i)">
                                        </td>
                                        <td>
                                            <textarea  class="form-control form-control-sm" formControlName="srvMemberName">
                                            </textarea>
                                        </td>  
                                        <td>
                                            <input matInput [matDatepicker]="fromPicker" formControlName="srvFrom">
                                            <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #fromPicker></mat-datepicker>
                                            <!-- <input class="form-control form-control-sm" type="date" formControlName="srvFrom"> -->
                                        </td>
                                        <td>
                                            <input matInput [matDatepicker]="toPicker" formControlName="srvTo">
                                            <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #toPicker></mat-datepicker>
                                            <!-- <input class="form-control form-control-sm" type="date" formControlName="srvTo"> -->
                                        </td>                    
                                        <td>
                                            <input class="form-control form-control-sm" type="text" formControlName="srvValue" title="Press fn + F2 to open Services tab" (keydown.f2)="lookupAgreementAndMember(i)" (focus)="captureGridIndex(i)">
                                        </td>
                                        <td>
                                            <input #disc class="form-control form-control-sm" type="text" (keydown.enter)="getdiscount(disc.value,i)" formControlName="srvDiscount">
                                        </td>
                                        <td>
                                            <input class="form-control form-control-sm" type="text" formControlName="srvGross">
                                        </td>
                                        <td>
                                            <input #pcode class="form-control form-control-sm" type="text" formControlName="srvVat">
                                        </td>
                                        <td>
                                            <input class="form-control form-control-sm" type="text" formControlName="srvNetValue">
                                        </td>
                                        <td>
                                            <button class="btn btn-danger" type="button" (click)="deleteServiceItem(i)">&#10005;</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <button class="btn btn-success" type="button" (click)="addServiceItem()">&#43;</button>
                        </div>
                </div>    
            </div>
            <hr>
            <div class="col-12">
                <div class="row">
                    <div class="col-6"></div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-6">
                                <h6 style="color: darkblue;">Total:</h6>
                                <h6 style="color: darkblue;">Discount:</h6>
                                <hr>
                                <h6 style="color: darkblue;">Amount exclusive VAT:</h6>
                                <h6 style="color: darkblue;">VAT:</h6>
                                <hr>
                                <h5 style="color: darkblue;">Grand Total:</h5>
                            </div>                                    
                            <div class="col-6" style="float: right;">
                                <h6 style="color: darkblue;">BHD {{ mAgrTotal | number : '1.3' }}</h6>
                                <h6 style="color: darkblue;">BHD {{ mAgrDisc | number : '1.3'}}</h6>
                                <hr>
                                <h6 style="color: darkblue;">BHD {{ mAgrNetTotal | number : '1.3'}}</h6>
                                <h6 style="color: darkblue;">BHD {{ mAgrVAT | number : '1.3'}}</h6>
                                <hr>
                                <h5 style="color: darkblue;">BHD {{ mAgrGTotal | number : '1.3'}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <br>
        </form>

        <div class="col-12">
            <ng-template #partyLookupDialog 
            style="width: 60%;">
                <h3 matDialogTitle>
                    <b>Look up Primary Members: {{ partyArr.length }}</b>
                </h3>
                <hr>
                <div mat-dialog-content>
                    <table mat-table 
                    [dataSource]="partyDataSource" 
                    class="mat-elevation-z8" 
                    style="width: 65vw; height: 50vh;">
                        <ng-container matColumnDef="pcode">
                            <th mat-header-cell 
                            *matHeaderCellDef> PCODE </th>
                            <td mat-cell 
                            *matCellDef="let party"> {{ party.REFNO }} </td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <th mat-header-cell 
                            *matHeaderCellDef> Contact Name </th>
                            <td mat-cell 
                            *matCellDef="let party"> {{ party.NAME }} </td>
                        </ng-container>
                        <ng-container matColumnDef="add1">
                            <th mat-header-cell 
                            *matHeaderCellDef> Address 1 </th>
                            <td mat-cell 
                            *matCellDef="let party"> {{ party.ADD1 }} </td>
                        </ng-container>
                        <ng-container matColumnDef="add2">
                            <th mat-header-cell 
                            *matHeaderCellDef> Address 2 </th>
                            <td mat-cell 
                            *matCellDef="let party"> {{ party.ADD2 }} </td>
                        </ng-container>
                        <ng-container matColumnDef="add3">
                            <th mat-header-cell 
                            *matHeaderCellDef> Address 3 </th>
                            <td mat-cell 
                            *matCellDef="let party"> {{ party.ADD3 }} </td>
                        </ng-container>
                        <ng-container matColumnDef="phone1">
                            <th mat-header-cell 
                            *matHeaderCellDef> Phone number </th>
                            <td mat-cell 
                            *matCellDef="let party"> {{ party.PHONE1 }} </td>
                        </ng-container>
                        <ng-container matColumnDef="mobile">
                            <th mat-header-cell 
                            *matHeaderCellDef> Telephone </th>
                            <td mat-cell 
                            *matCellDef="let party"> {{ party.MOBILE }} </td>
                        </ng-container>
                        <ng-container matColumnDef="email_id">
                            <th mat-header-cell 
                            *matHeaderCellDef> Email </th>
                            <td mat-cell 
                            *matCellDef="let party"> {{ party.EMAIL_ID  }} </td>
                        </ng-container>
                        <tr mat-header-row 
                        *matHeaderRowDef="partyDisplayedColumns"></tr>
                        <tr mat-row 
                        *matRowDef="let row; columns: partyDisplayedColumns;  let i= index"
                        [ngClass]="{'highlight': selectedRowIndex == i}"
                        (click)="highlight('party',i)"
                        tabindex="999"
                        (keydown.arrowdown)="arrowDownEvent('party',selectedRowIndex)"
                        (keydown.arrowup)="arrowUpEvent('party',selectedRowIndex)" 
                        (keydown.enter)="selectParty(partyArr[selectedRowIndex])"></tr>
                    </table>
                </div>
                <mat-dialog-actions align="end">
                    <button mat-button 
                    matDialogClose="close">Close</button>
                </mat-dialog-actions>
            </ng-template>
        </div>

        <div class="col-12">
            <ng-template #agreementLookUpDialog 
            style="width: 80%;">
                <h3 matDialogTitle>
                    <b>Manage Services</b>
                </h3>
                <hr>
                <form [formGroup]="agreementForm" class="form-container">
                    <div class="col-12">
                        <div class="form-row">
                            <div class="col-12" 
                            style="height: 50vh; overflow-y: auto;" >
                                <table class="table table-borderless table-hover table-responsive-xxl"
                                formArrayName="serviceArr">
                                    <thead>
                                        <tr class="table-reflow" 
                                        style="background-color: rgb(2, 46, 82); color: white;">
                                            <th style="width: 30%;">Service No</th>
                                            <th style="width: 50%;">Service Description</th>
                                            <th style="width: 20%;">Price</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody (keydown.alt.n)="addAgreementItem()">
                                        <tr 
                                        #rptItem 
                                        *ngFor="let rp of agreementForm.controls.serviceArr.controls; let i = index;" 
                                        [formGroupName]="i" 
                                        (keydown.alt.x)="deleteAgreementItem(i)">
                                            <td>
                                                <input #serviceno title="Press fn + F2 to open Service search"
                                                class="form-control form-control-sm" 
                                                type="text" 
                                                formControlName="serviceNo" 
                                                (keydown.f2)="lookUpSrv(serviceno.value, i)"
                                                (keydown.enter)="getsrvData(serviceno.value,i)">
                                            </td>  
                                            <td>
                                                <input class="form-control form-control-sm" 
                                                type="text" 
                                                formControlName="serviceDesc" >
                                            </td>             
                                            <td>
                                                <input #pcode
                                                class="form-control form-control-sm" 
                                                type="text"
                                                formControlName="Price">
                                            </td>
                                            <td>
                                                <button class="btn btn-danger" 
                                                type="button" 
                                                (click)="deleteAgreementItem(i)">&#10005;</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button class="btn btn-success" 
                                type="button" 
                                (click)="addAgreementItem(valueIndex)">&#43;</button>
                            </div>
                        </div>  
                    </div>   
                    <mat-dialog-actions align="end">
                        <button class="btn btn-primary" 
                        type="button" 
                        (click)="submitAgreement()">Submit</button>
                    </mat-dialog-actions>
                </form>
            </ng-template>
        </div>

        <div class="col-12">
            <div class="col-12">
                <ng-template #membLookupDialog 
                style="width: 60%;">
                    <h3 matDialogTitle>
                        <b>Look up Members: {{ membArr.length }}</b>
                    </h3>
                    <hr>
                    <div mat-dialog-content>
                        <table mat-table 
                        [dataSource]="membDataSource" 
                        class="mat-elevation-z8" 
                        style="width: 65vw; height: 50vh;">
                            <ng-container matColumnDef="memberRefNo">
                                <th mat-header-cell 
                                *matHeaderCellDef> Reference Nbr </th>
                                <td mat-cell 
                                *matCellDef="let memb"> {{ memb.REFMEMBNO }} </td>
                            </ng-container>
                            <ng-container matColumnDef="title">
                                <th mat-header-cell 
                                *matHeaderCellDef> Title </th>
                                <td mat-cell 
                                *matCellDef="let memb"> {{ memb.TITLE }} </td>
                            </ng-container>
                            <ng-container matColumnDef="firstname">
                                <th mat-header-cell 
                                *matHeaderCellDef> Firstname </th>
                                <td mat-cell 
                                *matCellDef="let memb"> {{ memb.NAME }} </td>
                            </ng-container>
                            <ng-container matColumnDef="surname">
                                <th mat-header-cell 
                                *matHeaderCellDef> LName </th>
                                <td mat-cell 
                                *matCellDef="let memb"> {{ memb.SURNAME }} </td>
                            </ng-container>
                            <ng-container matColumnDef="cprno">
                                <th mat-header-cell 
                                *matHeaderCellDef> CPR Nbr </th>
                                <td mat-cell 
                                *matCellDef="let memb"> {{ memb.CPRNo }} </td>
                            </ng-container>
                            <tr mat-header-row 
                            *matHeaderRowDef="membDisplayedColumns"></tr>
                            <tr mat-row 
                            *matRowDef="let row; columns: membDisplayedColumns;  let i= index"
                            [ngClass]="{'highlight': selectedRowIndex == i}"
                            (click)="highlight('membs',i)"
                            tabindex="999"
                            (keydown.arrowdown)="arrowDownEvent('membs',selectedRowIndex)"
                            (keydown.arrowup)="arrowUpEvent('membs',selectedRowIndex)" 
                            (keydown.enter)="selectMember(membArr[selectedRowIndex])"></tr>
                        </table>
                    </div>
                    <mat-dialog-actions align="end">
                        <button mat-button 
                        matDialogClose="close">Close</button>
                    </mat-dialog-actions>
                </ng-template>
            </div>
        </div>

        <div class="col-12">
            <ng-template #sivLookupDialog 
            style="width: 60%;">
                <h3 matDialogTitle>
                    <b>Look up Service Number: {{ srvArr.length }}</b>
                </h3>
                <hr>
                <!-- <mat-form-field >
                <input matInput #input
                (keyup)="applyFilter($event)" >
                </mat-form-field> --->
                <div mat-dialog-content>
                    <table mat-table 
                    [dataSource]="serviceDataSouuce" 
                    class="mat-elevation-z8" 
                    style="width: 65vw; height: 50vh;">
                        <ng-container matColumnDef="ServiceID">
                            <th mat-header-cell 
                            *matHeaderCellDef> Service Nbr </th>
                            <td mat-cell 
                            *matCellDef="let srv"> {{ srv.ServiceID }} </td>
                        </ng-container>
                      
                        <ng-container matColumnDef="servicedesc">
                            <th mat-header-cell 
                            *matHeaderCellDef> Service Description</th>
                            <td mat-cell 
                            *matCellDef="let srv"> {{ srv.ServiceDescription }} </td>
                        </ng-container>

                        <ng-container matColumnDef="actualprice">
                            <th mat-header-cell 
                            *matHeaderCellDef> Actual Price </th>
                            <td mat-cell 
                            *matCellDef="let srv"> {{ srv.ActualPrice }} </td>
                        </ng-container>
                      
                        <ng-container matColumnDef="memberprice">
                            <th mat-header-cell 
                            *matHeaderCellDef> LName </th>
                            <td mat-cell 
                            *matCellDef="let srv"> {{ srv.MemberPrice }} </td>
                        </ng-container>
                  
                        <tr mat-header-row 
                        *matHeaderRowDef="serviceDisplayedColumns"></tr>
                        <tr mat-row 
                        *matRowDef="let row; columns: serviceDisplayedColumns;  let i= index"
                        [ngClass]="{'highlight': selectedRowIndex == i}"
                        (click)="highlight('srvs',i)"
                        tabindex="999"
                        (keydown.arrowdown)="arrowDownEvent('srvs',selectedRowIndex)"
                        (keydown.arrowup)="arrowUpEvent('srvs',selectedRowIndex)" 
                        (keydown.enter)="selectSiv()"></tr>
          
                        <!-- Row shown when there is no matching data. 
                        <tr class="mat-row" 
                        *matNoDataRow>
                          <td class="mat-cell" 
                          colspan="4">No data matching the filter "{{input.value}}"</td>
                        </tr> -->
                    </table>
                </div>
                <mat-dialog-actions align="end">
                    <button mat-button
                    matDialogClose="close">Close</button>
                </mat-dialog-actions>
            </ng-template>
        </div>

        <div class="col-12">
            <ng-template #RefLookupDialog 
            style="width: 60%;">
                <h3 matDialogTitle>
                    <b>Look up Reference Details: {{ refArr.length }}</b>
                </h3>
                <hr>
                <!-- <mat-form-field >
                <input matInput #input
                (keyup)="applyFilter($event)" >
                </mat-form-field> --->
                <div mat-dialog-content>
                    <table mat-table 
                    [dataSource]="referenceDataSouuce" 
                    class="mat-elevation-z8" 
                    style="width: 65vw; height: 50vh;">
                        <ng-container matColumnDef="refid">
                            <th mat-header-cell 
                            *matHeaderCellDef> Reference Code </th>
                            <td mat-cell 
                            *matCellDef="let ref"> {{ ref.PCODE }} </td>
                        </ng-container>
                      
                        <ng-container matColumnDef="name">
                            <th mat-header-cell 
                            *matHeaderCellDef> Reference Name </th>
                            <td mat-cell 
                            *matCellDef="let ref"> {{ ref.NAME }} </td>
                        </ng-container>

                        <ng-container matColumnDef="desc">
                            <th mat-header-cell 
                            *matHeaderCellDef> Description </th>
                            <td mat-cell 
                            *matCellDef="let ref"> {{ ref.DESCRIPTION }} </td>
                        </ng-container>
                      
                        <ng-container matColumnDef="type">
                            <th mat-header-cell 
                            *matHeaderCellDef> Type </th>
                            <td mat-cell 
                            *matCellDef="let ref"> {{ ref.TYPE }} </td>
                        </ng-container>
                  
                        <tr mat-header-row 
                        *matHeaderRowDef="referenceDisplayedColumns"></tr>
                        <tr mat-row 
                        *matRowDef="let row; columns: referenceDisplayedColumns;  let i= index"
                        [ngClass]="{'highlight': selectedRowIndex == i}"
                        (click)="highlight('ref',i)"
                        tabindex="999"
                        (keydown.arrowdown)="arrowDownEvent('ref',selectedRowIndex)"
                        (keydown.arrowup)="arrowUpEvent('ref',selectedRowIndex)" 
                        (keydown.enter)="selectRef(refArr[selectedRowIndex])"></tr>
          
                        <!-- Row shown when there is no matching data. 
                        <tr class="mat-row" 
                        *matNoDataRow>
                          <td class="mat-cell" 
                          colspan="4">No data matching the filter "{{input.value}}"</td>
                        </tr> -->
                    </table>
                </div>
                <mat-dialog-actions align="end">
                    <button mat-button
                    matDialogClose="close">Close</button>
                </mat-dialog-actions>
            </ng-template>
        </div>
    </div>
</div>
