<div class="menu-secondary-actions">
  <button type="button" class="close-menu-btn btn btn-link" (click)="closeAltMenu()">
    <i class="fas fa-times"></i>
  </button>
</div>

<div class="menu-heading">
  <h3 class="heading-title">Notifications</h3>
</div>

<ul class="notifications-list list-group list-group-flush">
  <br>
  <h6><u>Agreements expiring this month:</u></h6>
  <li class="notification-item list-group-item" *ngFor="let not of expAgrArr; let i = index">
    <div class="notification-info row">
      <div class="col">
        <span class="user-name">{{ i+1 }} | {{ not.AGR_NO }}</span>
        <span class="notification-message">Expiry date: {{ not.END_DATE | date: 'dd-MM-yyyy' }}</span>
      </div>
      <div class="col-1">
        <button md-raised-button color="primary" style="float:right" class=" mat-button text-white" (click)="gotoAgreementDetails('/crm/agreements/details', not.AGR_NO)">
          View
        </button>
      </div>
    </div>
  </li>
</ul>